.header{
    text-align: right;
}
.image{
    float: left;
    height: 80px;
}
.image img{
    height: 30px;
    color: aliceblue;
    background-color: aliceblue;
}
.header nav{
    background-color: black;
    line-height: 60px;
    font-size: 20px;
} 
nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
}
nav a:hover{
    background-color: gray;
    border-radius: 2px;
}